*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height: 100%;
    max-width: 100%;       /* Ensure body does not exceed viewport width */ 
    overflow-x: hidden;     /* Prevent horizontal scrolling */
    font-weight: 100%;
}
#main{
    height: 100vh;
    width: 100vw;
}
#nav1{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 19px;
    background-color: rgb(242, 235, 235);
}
#nav1 p{
    color: orange;
    padding-left: 110px;
}
#nav1 h4{
    padding: 0 19px;
}
#nav1 i{
    font-size: 3vh;
    color: orangered;
}
#nav2{
    height: 16vh;
    width: 100vw;
    display: flex;

}
#left-nav2{
    height: 100%;
    width: 40%;
    display: flex;

}
#left-nav2 img{
    position: relative;
    left: 70px;
    padding: 19px 39px;
}

#right-nav2{
    height: 100%;
    width:60% ;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /*padding: 0 55px;  */
    padding-right: 90px;
    
}
#nav2 a{
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 20px;
}
#nav2 #seventh{
    border: 1px solid orange;
    padding: 12px 20px;
    border-radius: 50px;
    color: white;
    background-color: orange;
}
#page1{
    min-height: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(Asset/view-represent.jpg);
    
    
}
#text{
    position: relative;
}
#text h2{
   position: relative;
   color: rgb(247, 245, 245);
   top: 19vh;
   left: 11vw;
   font-size: 6vh;
   font-weight: 200;
   font-family: sans-serif;
}
#text h1{
   position: relative;
   color: rgb(249, 243, 243);
   font-size: 10vh;
   top: 18vh;
   left: 11vw;
   
}
#text h3{
   position: relative;
   color: rgb(253, 249, 249);
   top: 19vh;
   left: 11vw;
   font-weight: smaller;
   font-family: sans-serif;
}
#button a{
    font-size: larger;
    font-family:sans-serif;
    padding: 13px 60px;
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    font-size: larger;
    top: 23vh;
    left: 11vw;
}
#btn1{
    background-color: #00E3F1;
    border: 2px solid #00E3F1;
    border-radius: 50px;

}
#btn2{
    background-color: #006ED4;
    border: 2px solid #006ED4;
    border-radius: 50px;
}
#page1 text h4{
   position: relative;
   left: 30%;
   top: 25%;
}

#page2{
    height: 60vh;
    width: 100vw;
    

    
}
#text1{
    height: 50vh;
    width: 100%;
    padding: 3vw 4px;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    
    
}
#text1 p{
    padding: 11px 14%;
    font-size: larger;
    font-family: sans-serif;
}
#text1 #vid{
    position: relative;
    top: 1vh;
    right: 12%;
}
#award{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#award h2{
    position: relative;
    left: -1vw;
    font-family: sans-serif;
    padding-right: 1vw;
    color: #00E3F1;
    border-right: 2px solid black;

}
#award p{
    position: relative;
    left: -0vw;
    font-weight: 500;
    font-family: sans-serif;
}
#page3{
    height: 100vw;
    width: 100%;
    background-color: #FFFFFF;
    
}
#heading h1{
    display: flex;
    font-size: 46px;
    text-transform: uppercase;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}
/*.content-box{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}  */

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   /* shift on the left side*/
    width: 1000px;
    
    margin-top: 30px;
    /* background-color: rosybrown; */
}
.card{
    min-height: 320px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#FFFFFF;
    margin: 15px 6px;
    box-shadow: 10px 15px 20px black;
    border-radius: 10px;
    position: relative;
    left: 270px;
}


.card i{
    margin: 20px;
    font-size: 15vh;
    color: rgb(145, 63, 5);
}
.card img{
    margin: 20px;
    font-size: 15vh;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    align-items: center;
    color: #0a61e2;
}
.card p{
    color: rgb(21, 19, 19);
    text-align: center;
}  
.content-box a{
    position: relative;
    top: 4vw;
    left: 43.5vw;
    font-family: sans-serif;
    font-size: x-large;
    padding: 12px 17px;
    background-color: #0069D9;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border-color: #0069D9;


}
#facts{
    height:40vh ;
    width: 100vw;
    background-image: url(clients/Partner1.avif);
    background-position:center;
    background-size: cover;
    object-fit: cover;
    padding: 12px 0;
    margin-top:95px ;
    
}
#facts h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin-top: 6vh;
    font-size:xx-large;
}
#facts p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    margin-top: 1%;
    font-size: 22px;
}
#fact1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 12px;

}
#fact1 #num{
    font-size: 6vh; ;
}
#fact1 h6{
    color: white;
    font-size: xx-large;
}
#fact1 #ic1{
    color: white;
    font-size: 60px;
    position: relative;
    left: 4vw;
}
#fact1 #ic2{
    color: white;
    font-size: 60px;
    position: relative;
    left: 8.4vw;
}
#page4{ 
     height: 8vh;
     width: 100vw;
     margin-top: 35vh;
     /* background-color: brown; */
     /* padding-top: 6vh; */
     
}
#page4 h1{
    display: flex;
    font-size: 46px;
    justify-content: center;
    
}
.page5{
    height: 28vh;
    width: 100vw;
    
    padding: 1vw;
    
}
/* Start of Swipper */
.swiper {
    width: 100%;
    height: 90%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f8f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 12px;
    object-fit: cover;
  }
  .swiper-pagination{
   position: relative;
   top: 92%;
  }
/* End of swipper */
#page6{
    height: 13vh;
    width: 100vw;
    background-color: #0069D9;
}
#page6 #heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding-top: 12px;
    font-size: x-large;
    font-family: sans-serif;
    
}
#page6 #bottomheading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(218, 212, 212);
    font-family: sans-serif;
    position: relative;
    left: 1.2vh;
}
#bottomheading #a1{
    text-decoration: none;
    color: orange;
    font-size: x-large;
}
#bottomheading #a2{
    text-decoration: none;
    color: orange;
    font-size: large;
    position: relative;
    left: 43px;
}
#bottomheading p{
    position: relative;
    left:1vw;
    font-size: medium;
    font-weight:300;
}
/*#page7{
    height: 47vh;
    width: 100vw;
    display: grid;
}
 #page7 h2{
    margin-top: 12px;
    margin-left: 52px;
}
#partner{
    height: 100%;
    width: 28vw;
    background-color: #d98200; 
}
#partner img{
    position: relative;
    left: 29%;
    top: 32px;
}
#page7 #services{
    height: 100%;
    width: 42vw;
    display: grid;
    

}
 #services li{
    position: relative;
    left:1vw;
    top: 6px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
    padding: 12px;
}
#service1{
    position: relative;
    top: 52px;
    text-decoration: none;
    
}
#service2{
    position: relative;
    top: 52px;
    
    
}
#page7 #Contacts{
    height: 100%;
    width: 28.8vw;
     
} */
 section{
    padding: 30px 8% 18px;
    /* background-color: orange; */
 }

#page7{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 3.5rem;
    border-radius: 12px;
    background:#eeeff0; 
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}
#page7 h2{
    margin-bottom: 1.5rem;
    font-size: 40px;
    
    font-family: sans-serif;

}
#page7 #partner img{
margin-left: 17px;
margin-bottom: 22px;
border-radius: 15px;
}
#page7 #services{
    display: flex;
}
#services h2{
    position: relative;
    left: 28%;
    
}
#page7 li{
    position: relative;
    top: 70px;
    right: 89px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(152, 147, 147);
}
#page7 a{
    text-decoration: none;
    color: rgb(40, 37, 37);
}
#page7 #Contacts{
    border-left: 2px solid black;
    border-radius: 10px;
    padding: 18px;
}
#page7 i{
    position: relative;
    font-size: 42px;
    top: 22vh;
    left: 0vw;
    color: rgb(3, 0, 8);
}
#footer{
    height: 8vh;
    width: 100vw;
    background-color: rgb(228, 220, 220);
    display:flex;
    align-items: center;
    justify-content: space-around;
    

}
#foot1 a{
    text-decoration: none;
    color: rgb(71, 68, 68);
    font-family: sans-serif;
    font-weight: 200;
}
#foot2 h3{
    color: rgb(71, 68, 68);
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;

}









